.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 170px;
    gap: 30px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    max-width: 400px;
    font-size: 20px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
    background-color: #32323B;
    border-radius: 50px;
}
.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;
}

.footer-subscribe {
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background:linear-gradient(264deg ,#DA7C25 -5.09%, #B923E1 106.5%);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-email-input:hover {
    border: 2px solid #fff;
}
.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;

}